/* ---- Reset ---- */
html {
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  section.perfil img{
      width:40%;
  }

  /* ----- layout ----- */
  .container{
    margin:0 20px;
  }
  /* ----- typography ----- */
  body{
    font-family: Arial, Helvetica, sans-serif;
  }

  /* ----- Boton de oculta muestra ----- */
  .oculta{
    display:none;
  }

 /* ----- Cabecera ----- */
 #cabecera .navbar{
  padding:20px;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  align-items:center;
  width:100%;
  border-bottom:1px solid #121212;
 }
 #cabecera .botones{
  text-align:right;
 }
 #cabecera button{
  padding:10px;
  border:1px solid #121212;
  outline: none;
  border-radius:50%;
  font-size:1.3em;
  height:24px;
  width:24px;
  margin:0 10px;
  background:#80f442;
  cursor:pointer;
 }
 #cabecera .index a{
   display:block;
   padding:10px;
   text-decoration:none;
   font-size: 2em;
 }

/* ----- search ---- */
.search{
  text-align:center;
}
.search .inputzone{
  text-align:center;
}
.search .inputzone input{
  border:none;
  background:#d1d1d1;
  padding:10px 5px;
}
.search .inputzone span{
  display:block;
  padding:10px;
}
.search-results ul{
  padding:0px;
  list-style:none;
}
.search-results li a{
  text-decoration:none;
  display:block;
  background:#d1d1d1;
  padding:10px 5px;
  margin-top:10px;
}

 /* ----- responsive ----- */

   @media (min-width:768px){
    main{
      display:flex;
      flex-flow:row wrap;
      justify-content: space-around;
    }
    main section{
      width:50%;
    }
    .search{
      display:flex;
      flex-flow:row wrap;
      width:100%;
    }
    .search .inputzone span{
      display:inline;
    }
    .search-results ul{
      margin:0;
      display:flex;
      flex-flow:row wrap;
    }
    .search-results li a{
      margin-top:0;
      background:none;
    }
    .search-results li a:before{
      content:"> "
    }
  }